 Global Styles */

html,
body {
    height: 100%;
}
body {
    padding-top: 50px;
}
.pagecontainer {
    position: relative;
    overflow-y: auto;
    max-height: 625px; 
}
.img-portfolio {
    margin-bottom: 30px;
}
.img-hover:hover {
    opacity: 0.8;
}

/* Footer Styles */

footer {
    margin: 0;
    margin-top: 10px;
}

/*-------------------------------------------------*/
*.modal{
    margin-top: 30px;
}

/*modal size*/
.modal-body {
    position: relative;
    overflow-y: auto;
    max-height: 450px;
    padding: 15px;
}

#joPreFormModal .modal-content{
        width: 755px;
        position: relative;
        overflow-y: auto;
}


/*borderless table for forms*/
.table-borderless {
    table-layout:fixed;
}

.table-borderless td {
    overflow: hidden; 
}

.table-borderless > tbody > tr > td {
    border: none;
}
/**/

/*NEW*/

/*Font of job order form*/ 
#preForm {
    font-family: 'Arial';
    font-weight: bolder;
    font-size: 13px;
}

@media print {
    #preForm {
        font-family: 'Arial';
        font-weight: bolder;
        font-size: 12px;
    }
}

#notBold {
    font-weight: normal;
}
/**/


/*border of job order form*/
#preForm {
    border-top: 2px solid #bdbdbd; 
    border-right: 2px solid #bdbdbd;
    border-left: 2px solid #bdbdbd;
    border-bottom: 2px solid #bdbdbd;
}
/**/

/*TABLES IN JOB ORDER FORM*/
/*width of job order tables*/
#joformtable1, #joformtable2, #joformtable3 {
    width:685px;
}
/*table margin of job order form*/
#joformtable1, #joformtable2, #joformtable3 {
    margin-left: 8px;
}
/*qty column of job order form*/
#joformtable2 > tbody > tr:nth-child(1) > td:nth-child(1),
#joformtable2 > tbody > tr:nth-child(1) > td:nth-child(4),
#joformtable3 > tbody > tr:nth-child(1) > td:nth-child(1) {
    width:30px;
}
/*amount column of job order form*/
#joformtable2 > tbody > tr:nth-child(1) > td:nth-child(3),
#joformtable2 > tbody > tr:nth-child(1) > td:nth-child(6),
#joformtable3 > tbody > tr:nth-child(1) > td:nth-child(4) {
    width:40px;
}
/*uprice column of job order form*/
#joformtable3 > tbody > tr:nth-child(1) > td:nth-child(3) {
    width:78px;
}

/*padding of 1st table */
#clnameform, #datebroughtform, #claddressform {
    padding-top: 0px;
    padding-bottom: 0px;
}
/*TABLES IN JOB ORDER FORM*/


/*DIVS IN JOB ORDER FORM*/
/*div padding of job order form*/
#preForm > div:nth-child(5) > div > p {
    padding-left: 10px;
}
#preForm > div:nth-child(6) > div > p {
    padding-left: 52px;
}
/*DIVS IN JOB ORDER FORM*/


/*FONTS IN JOB ORDER FROM*/
/*1st line*/
#preForm > div.row.text-center > div > p:nth-child(1),
#preForm > div.row.text-center > div > p:nth-child(2),
#preForm > div.row.text-center > div > p:nth-child(3),
#preForm > div.row.text-center > div > p:nth-child(4) {
    font-family: 'Bookman Old Style';
}

#preForm > div.row.text-center > div > p:nth-child(1),
#preForm > div.row.text-center > div > p:nth-child(4) {
    font-size: 16px;
}

#preForm > div.row.text-center > div > p:nth-child(1),
#preForm > div.row.text-center > div > p:nth-child(2) {
    margin-bottom: 0px;
}
/*FONTS IN JOB ORDER FROM*/

/*label of tabs*/
.tab-nav{
    font-size: 16px;
    font-weight:bold;
}

/**/


/*notification*/
#notification_li
{
position:relative
}


#notification_count {
    
    padding: 3px 7px 3px 7px;
    background: #cc0000;
    color: #ffffff;
    font-weight: bold;
    margin-left: 35px;
    border-radius: 9px;
    -moz-border-radius: 9px; 
    -webkit-border-radius: 9px;
    position: absolute;
    margin-top: 2px;
    font-size: 9px;
    
}

#notificationContainer {
    background-color: #fff;
    border: 1px solid rgba(100, 100, 100, .4);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    overflow: visible;
    top: 50px;
    margin-left: -360px;
    width: 460px;
    z-index: 0;
    display: none;
    position: fixed;
}

/*Popup Arrow*/
#notificationContainer:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    color: transparent;
    border: 10px solid black;
    border-color: transparent transparent white;
    margin-top: -20px;
    margin-left: 188px;
    position: fixed;
}
/*Popup Arrow*/


#notificationTitle {
    font-weight: bold;
    padding: 5px 10px;
    font-size: 13px;
    background-color: #ffffff;
    position: fixed;
    z-index: 1000;
    width: 384px;
}

#notificationsBody{
    padding: 33px 0px 0px 0px !important;
    min-height:300px;
}

#notificationFooter {
    background-color: #e9eaed;
    text-align: center;
    font-weight: bold;
    padding: 8px;
    font-size: 12px;
    border-top: 1px solid #dddddd;
}
/*notification*/


/*Custom Checkbox*/
input[type="checkbox"]{
    -webkit-appearance: initial;
    appearance: initial;
    background: #555555; /*#6C7B8B;*/
    width: 12px;
    height: 12px;
    border: none;
    position: relative;
    border-radius: 4px;
}
input[type="checkbox"]:checked {
    background: #1E90FF;
}
input[type="checkbox"]:checked:after {
    
    content: "\2713";
    color: #1E90FF;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

}
/*End Custom Checkbox*/

/*Custom Table*/

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #2fa4e7;
  cursor: pointer;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #2fa4e7; 
}

.table-striped > tbody > tr:nth-child(2n+1) > td, 
.table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #eeeeee;
}

.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #d9edf7;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
  background-color: #d9edf7;
}

/*Custom Print Table*/

.print .table > thead > tr > th,
.print .table > tbody > tr > th,
.print .table > tfoot > tr > th,
.print .table > thead > tr > td,
.print .table > tbody > tr > td,
.print .table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #fff;
}

.print #joformtable2 > thead > tr > th,
.print #joformtable2 > tbody > tr > th,
.print #joformtable2 > tfoot > tr > th,
.print #joformtable2 > thead > tr > td,
.print #joformtable2 > tbody > tr > td,
.print #joformtable2 > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.print #joformtable3 > thead > tr > th,
.print #joformtable3 > tbody > tr > th,
.print #joformtable3 > tfoot > tr > th,
.print #joformtable3 > thead > tr > td,
.print #joformtable3 > tbody > tr > td,
.print #joformtable3 > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}


/* Typeahead : AJAX  Search */
.typeahead, .tt-query, .tt-hint {
    height: 40px;
    line-height: 30px;
    outline: medium none;
    padding: 8px 12px;
}
.typeahead:focus {
    border: 2px solid #1d9ce5;
}
.tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
    color: #999999;
}
.tt-dropdown-menu {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 8px 0;
    position: relative;
    overflow-y: auto;
}
.tt-suggestion {
    line-height: 24px;
    padding: 3px 12px;
}
.tt-suggestion.tt-is-under-cursor {
    background-color: #1d9ce5;
    color: #FFFFFF;
}
.tt-suggestion p {
    margin: 0;
}

/*Typeahead : Sales*/
.sales #salename {
    width: 226px;
}
.sales #salemodel {
    width: 226px;
}
.sales .tt-hint {
    width: 226px;
}
.sales .tt-dropdown-menu {
    width: 226px;
    max-height: 250px;
}

/*Typeahead : Sales*/
.joEmpty #additionalitems {
    width: 390px;
}
.joEmpty .tt-hint {
    width: 390px;
}
.joEmpty .tt-dropdown-menu {
    width: 390px;
    max-height: 250px;
}

.navbar .btn-nav.active 
{
    background-color: #317eac;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -webkit-transition: border 0.3s ease-out, color 0.3s ease 0.5s;
    -moz-transition: border 0.3s ease-out, color 0.3s ease 0.5s;
    -ms-transition: border 0.3s ease-out, color 0.3s ease 0.5s; /* IE10 is actually unprefixed */
    -o-transition: border 0.3s ease-out, color 0.3s ease 0.5s;
    transition: border 0.3s ease-out, color 0.3s ease 0.5s;
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite;
}

.navbar .btn-nav.active:before 
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 6px 6px 0;
    border-color: #fff transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -6px;
    top: 0;
    left: 50%;
}

/*#joForm > div:nth-child(20) > div > span{
    width: 100%;
}

#joForm > div:nth-child(20) > div.controls.col-md-6 > span > input.tt-hint{
   width: 100%; 
}

#joForm > div:nth-child(21) > div.controls.col-md-6 > span{
    width: 100%;
}

#joForm > div:nth-child(21) > div.controls.col-md-6 > span > input.tt-hint{
    width: 100%;
}*/
